html {
  overflow-x: hidden;
}

body {
  color: black;
  background-color: white;
  font-family: Spectral, "Times New Roman", Times, serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
body > header, body > footer {
  border-color: black;
}
body > header, body > footer {
  padding: 0.6em;
  max-width: calc(100vw - 16px);
  overflow-x: auto;
  white-space: nowrap;
}
body > header {
  width: 100%;
  border-bottom: 2px solid;
}
body > header nav * {
  padding: 5px 20px;
}
body > main {
  margin: 2em auto;
  padding: 0px;
  width: calc(100% - 3em);
}
body > footer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  width: 50%;
  align-items: center;
  margin: auto;
}
body > footer > * {
  margin: 0.2em 0px;
}

a {
  color: #2853E2;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline !important;
}

.header-anchor {
  margin-left: 1em;
  font-size: 0.8em;
}
.header-anchor::after {
  content: "#";
}

table:not(.excluded) {
  margin: auto;
}
table:not(.excluded), table:not(.excluded) th, table:not(.excluded) td {
  border: 1px solid;
  border-color: black;
  border-collapse: collapse;
}
table:not(.excluded) th, table:not(.excluded) td {
  padding: 5px 10px;
  text-align: center;
}

p, blockquote {
  overflow-wrap: break-word;
}

hr {
  margin: 2em auto;
  width: 50%;
  border: none;
  height: 1px;
  background-color: black;
}

#translation-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 70px;
}

h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2em;
}
h1:target {
  text-decoration: underline;
}

h2 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.55em;
}
h2:target {
  text-decoration: underline;
}

h3 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.33em;
}
h3:target {
  text-decoration: underline;
}

h4 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}
h4:target {
  text-decoration: underline;
}

h5 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1em;
}
h5:target {
  text-decoration: underline;
}

h6 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}
h6:target {
  text-decoration: underline;
}

h1#title {
  text-align: center;
  font-size: 2.5em;
  margin: 1em auto;
  margin-top: 0.25em;
}

#subtitle {
  font-size: 1.25em;
  font-style: italic;
  margin-top: 0px;
}

time, time::after, time::before {
  color: #999;
}

@media only screen and (min-width: 900px) {
  body {
    font-size: 14pt;
  }
  body > header, body > footer {
    width: min-content;
    margin: auto;
  }
  body main {
    width: 75%;
    min-width: 300px;
    max-width: 1000px;
    padding: 0px;
  }
  body main img {
    display: block;
    width: 50%;
    margin: auto;
  }

  .header-anchor {
    display: none;
  }

  *:hover > .header-anchor {
    display: inline;
  }
}
@media only screen and (min-width: 1400px) {
  body main {
    width: 50%;
  }
}
@media only print {
  main a {
    text-decoration: underline;
  }
  main a::after {
    color: black;
    content: " (" attr(href) ")";
  }
  main .tldr-link {
    display: none;
  }
  main .post-header a::after {
    content: "";
  }

  body > footer {
    display: none;
  }
}

/*# sourceMappingURL=general.css.map */
