.post-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0em;
  margin-bottom: 2em;
  border-bottom: 2px solid;
  border-color: black;
}
.post-header > * {
  margin: 0.5em auto;
}
.post-header h1#title {
  margin: 0px;
}
.post-header #subtitle {
  text-align: center;
  font-weight: normal;
}
.post-header .tags {
  padding: 0px;
}
.post-header .tags > li {
  display: inline;
  list-style: none;
  font-size: 0.7em;
  border: 1px solid;
  border-color: #e065c2;
  border-radius: 5px;
  padding: 2px 8px;
}
.post-header .tags > li:not(:last-of-type) {
  margin-right: 5px;
}
.post-header time {
  font-size: 0.7em;
}

.tldr-link {
  text-align: right;
  font-style: italic;
}

#tldr:target {
  box-shadow: 0px 0px 2px 2px #ccc;
  border-radius: 10px;
  margin-left: -1em;
  margin-right: -1em;
  padding: 1px 1em;
}

.table-of-contents {
  margin: auto;
  margin-bottom: 3em;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
}
.table-of-contents summary {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  text-align: center;
  font-variant: small-caps;
}

.split {
  display: flex;
  flex-direction: row;
}
.split > div {
  width: 50%;
}

blockquote {
  margin: 1.5em 0em;
  padding: 0px 2em;
  border-left: 5px solid;
  border-color: #e065c2;
  color: black;
  font-style: italic;
}
blockquote em {
  font-style: normal;
}

.footnotes {
  border-top: 1px solid black;
  margin: auto;
  margin-top: 3em;
  padding: 0px 1em;
}
.footnotes li:target {
  text-decoration: underline;
}

img {
  width: 100%;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

body {
  counter-reset: h1;
}
body h1:not(#title):not(#subtitle):not(#footnotes) {
  counter-reset: h2;
  counter-increment: h1;
}
body h1:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}
body h2:not(#title):not(#subtitle):not(#footnotes) {
  counter-reset: h3;
  counter-increment: h2;
}
body h2:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1) '.'  counter(h2);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}
body h3:not(#title):not(#subtitle):not(#footnotes) {
  counter-reset: h4;
  counter-increment: h3;
}
body h3:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1) '.' counter(h2) '.'  counter(h3);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}
body h4:not(#title):not(#subtitle):not(#footnotes) {
  counter-reset: h5;
  counter-increment: h4;
}
body h4:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.'  counter(h4);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}
body h5:not(#title):not(#subtitle):not(#footnotes) {
  counter-reset: h6;
  counter-increment: h5;
}
body h5:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.'  counter(h5);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}
body h6:not(#title):not(#subtitle):not(#footnotes) {
  counter-increment: h6;
}
body h6:not(#title):not(#subtitle):not(#footnotes)::before {
  content: counter(h1) '.' counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.'  counter(h6);
  color: #444;
  font-weight: normal;
  margin-right: 1em;
}

/*# sourceMappingURL=post.css.map */
